.panel{margin-bottom: 40px;}
.server-detail-return span{top:2px;}
.server-detail-type-add{text-align: center;}
.server-detail-type-add a{text-decoration: none;}
.server-detail-type-add a span{top:2px;}
.no-text-decoration:hover{text-decoration: none;}
.serverTable,.proxyTable,.webAppTable,.databaseTable{margin-bottom: 0px;}
.update-Server-CreateUser{margin-left: 5px;}
#operationListForm{margin-left: 15px;}
#operationListForm button{margin-top: 15px;}