/*******************»¶Ó­Ò³ÑùÊ½*******************/
.welcome-main{margin: 70px auto 0;width: 500px;}
.welcome-main-browser img{width: 220px;height: 180px;margin-right: 30px;}
.welcome-main-description{font-size: 18px;margin-top: 20px;}
.welcome-main-description-tips{font-size: 14px;}
